
.container{
    position: relative;
}
.container .wrapper{
    width: 70vw;
    height: 75vh;
    margin: 5rem auto;
    overflow: hidden;
    box-shadow: 1px 2px 30px rgba(0,0,0,0.62);
}
.container .slider-holder{
    display: grid;
    grid-template-columns: repeat(3,100%);
    height: 100%;
    animation: slide 15s ease infinite;
}
.container #slider-image1{
    background: lawngreen;
    background: url(./assets/img1.jpg);
    background-size: cover;
}
.container #slider-image2{
    background: yellow;
    background: url(./assets/img2.jpg);
    background-size: cover;
}
.container #slider-image3{
    background: tomato;
    background: url(./assets/img3.jpg);
    background-size: cover;
}
.container .button-holder{
    position: absolute;
    bottom: 0;
    left: 45%;
}
.container .button-holder .dots{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    background-color: lightblue;
    margin: .4rem .3rem;
}

 @keyframes slide{
     0%{transform: translateX(0%);}
     10%{transform: translateX(-100%);}
     20%{transform: translateX(-100%);}
     30%{transform: translateX(-100%);}
     40%{transform: translateX(-200%);}
     50%{transform: translateX(-200%);}
     60%{transform: translateX(-200%);}
     70%{transform: translateX(0%);}
     80%{transform: translateX(0%);}
     90%{transform: translateX(0%);}
     100%{transform: translateX(0%);}
 }